<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>CE JRB - Logon</title>
		<meta name="viewport" content="height=device-height, initial-scale=1">
		<link rel="icon" href="/img/icons/favicon.png">
		<script src="/js/logon.js"></script>
		<link rel="stylesheet" href="/css/logon.css">
		<link rel="stylesheet" href="/css/default.css">
	</head>
	<body>
        <div class="logon">
            <div class="alert" role="alert"></div>
            <h1>Central de Equipamentos</h1>
            <form name="logon">
                <label for="login">Login</label>
                <input type="login" name="login" placeholder="Login" required autofocus>
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha" required>
                <button type="submit"><span>Entrar</span></button>
            </form>
            <footer>
                <p>Grupo JRB</p>
                <p>2020</p>
            </footer>
        </div>
    </body>
</html>