html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
    align-items: center;
    background-color: #f5f5f5ce;
    display: flex;
}
div.logon {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
}
div.logon div.alert {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: opacity .5s ease;
}
div.logon div.alert.warning {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}
div.logon div.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
div.logon h1 {
    margin: 1.5rem 0;
    font-weight: 100;
    text-shadow: 0px 0px 0px black;
    color: #363236;
}
div.logon form label {
    position: absolute;
    width: 1px;
    height: 1rem;
    overflow: hidden;
}
div.logon form input {
    padding: .5rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}
div.logon form input:first-of-type {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
div.logon form input:last-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
div.logon form button {
    display: block;
    width: 100%;
    padding: 9px;
    margin: 2rem 0;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}
div.logon form button:focus {
    transition: .3s;
    box-shadow: 0px 0px 3px #007bff;
    outline: none;
    border: 1px solid white;
}
div.logon form button span {
    transition: opacity .5s ease;
}
div.logon footer p {
    padding-bottom: 8px;
    margin: 0;
    color: #6c757d;
}
/* Growing circle
------------------*/
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
button span.loading {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
}