table {
    user-select: none;
    border-spacing: 0;
    margin: 0 auto 4rem auto;
    box-shadow: 0 0 3px black;
}
th {
    background-color: rgb(50,54,57);
    padding: .5rem;
    color: #ececec;
}
td {
    color: white;
    padding: .5rem;
    border-bottom: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    background-color: rgb(82,86,89);
}
tr.confirmed td {
    background-color: #0ea208;
}
tr.savedfromUser td {
    background-color: #0c0a88;
}
tr:last-child td {
    border-bottom: unset;
}
td:last-child {
    border-right: unset;
}
table.saidaEstoque, table.retornoEstoque {
    margin: -.5rem auto;
    box-shadow: none;
}
table.saidaEstoque td {
    border-bottom: 1px solid #b5b5b5;
}
table.saidaEstoque tr:last-child td{
    border-bottom: none;
}
table.retornoEstoque td:first-child{
    border-right: none;
}
table.retornoEstoque td[rowspan]{
    border-left: 1px solid #b5b5b5;
    border-bottom: none;
}
#filters {
    text-align: center;
    color: white;
    margin: .5rem 0;
}
#filters select, #filters input  {
    padding: .5rem;
    outline-color: #1d1d1d;
}
#filters select {
    margin-right: -3px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
#filters input {
    margin-right: -4px;
    border-left: none;
    width: 100%;
    max-width: 150px;
}
#filters div {
    padding: 5px;
    display: inline-block;
    box-shadow: 0 0 3px black;
    padding: 5px .5rem 9px .5rem;
}
#filters button{
    padding: .5rem;
}
#filters form{
    display: contents;
}
button#request{
    display: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 15px 5px;;
    color: white;
    outline: 0;
    border-radius: .25rem;
    background-color: #343a40;
    border: 1px solid;
    width: 147px;
    transition: .15s;
    user-select: none;
}
button#request:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 3px black;
    font-weight: bold;
    cursor: pointer;
}
#page button span:last-child {
    background-color: #17a2b8;
    color: white;
    padding: .3em .4em;
    font-size: 80%;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.fade {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    z-index: 1;
    overflow: overlay;
}
form#gerarSaida {
    border-radius: .25rem;
    box-shadow: 0 0 5px black;
    text-align: center;
    width: 274px;
    padding: .5rem;
    margin: 25% auto;
    z-index: 1;
    background-color: #696969;
}
form#gerarSaida * {
    padding: .5rem;
}
form#gerarSaida select[name="tipoDeSaida"] {
    margin-bottom: .5rem;
}
form.confirmacao {
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    box-shadow: 0 0 5px black;
    text-align: center;
    width: 500px;
    padding: .5rem;
    margin: 3% auto;
    z-index: 1;
    background-color: #696969;
    color: white;
}
form.confirmacao .title {
    font-weight: bold;
}
form.confirmacao * {
    padding: .5rem;
}
.table {
    display: table;
}
.table span {
    display: table-row;
}
.table span * {
    width: 300px;
    display: table-cell;
    vertical-align: middle;
}
div.warning {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 21px;
    z-index: 1;
    margin: auto;
    transition: opacity .5s ease;
}
div.warning span {
    margin: 0 auto;
    border: 1px solid transparent;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: .75rem 1.25rem;
}